<!DOCTYPE html>
<html lang="de">
{% include head.html %}
<body class="about">
{% include menu.html %}

<section class="hero hero--about hero--dark" style="background-image: url({{ site.baseurl_featured_img }}wandertag20.jpg);">
	<div class="container">
		<div class="hero__content hero__content--about" data-aos="fade-up">
			<h1 class="hero__title">Über uns</h1>
			<p class="hero__tagline">Freie Maker e.V. – Aachener Verein für Makerkultur</p>
		</div>
	</div>
</section>

<section class="section about-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p class="lead">Wir sind ein gemeinnütziger Verein aus Aachen, der sich der Förderung von Technik, Kunst und Handwerk verschrieben hat. Unsere Mission ist es, Menschen den Zugang zu Wissen und Werkzeugen zu ermöglichen, um die Welt um sich herum aktiv zu gestalten.</p>
				
				<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_featured_img }}V2IdeenNetz.png);"></div>

				<p>Seit unserer Gründung im Jahr 2015 organisieren wir Workshops, nehmen an Maker Faires teil und betreiben mit dem Euregio Makerspace (im LabAix) eine eigene offene Werkstatt. Hier treffen sich Hobbybastler, Ingenieure, Künstler und Neugierige zum gemeinsamen Austausch und Tüfteln.</p>

				<div class="img img--fullContainer img--14xLeading" style="background-image: url({{ site.baseurl_featured_img }}V3Werkzeuge.png);"></div>

				<p>Ob 3D-Druck, Lasercutting, Elektronik oder Quantentechnologie – wir begeistern uns für alles, was man selber machen kann. Komm doch einfach mal an einem Donnerstagabend zu unserem OpenLabDay vorbei!</p>
			</div>
		</div>
	</div>
</section>

{% include footer.html %}
{% include footer-scripts.html %}
</body>
</html>
