<footer class="section--footer">
  <div class="container container--content">
    <div>
      <h4>Impressum</h4>
      <br />Freie Maker e.V.
      <br />Lukasstraße 1
      <br />52070 Aachen
      <br />Amtsgericht Aachen VR 5605
    </div>
    <ul class="socialAccountList">
      <li><a href="https://x.com/{{ site.author.twitter }}" class="socialAccount socialAccount--x" target="_blank"></a></li>
      <li><a href="https://www.instagram.com/{{ site.author.instagram }}/" class="socialAccount socialAccount--instagram" target="_blank"></a></li>
      <li><a href="https://discord.gg/{{ site.author.discord }}" class="socialAccount socialAccount--discord" target="_blank"></a></li>
      <li><a href="https://facebook.com/{{ site.author.facebook }}" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
    </ul>
  </div>
</footer>
