<footer class="section--footer">
  <div class="container container--content">
    <div>
      <h4>Impressum</h4>
      <br />Freie Maker e.V.
      <br />Jakobstraße 57
      <br />52064 Aachen
      <br />Amtsgericht Aachen VR 5605
    </div>
    <ul class="socialAccountList">
      <li><a href="http://twitter.com/{{ site.author.twitter }}" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
      <li><a href="http://facebook.com/{{ site.author.facebook }}" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
    </ul>
  </div>
</footer>
