<div class="modal-toggle-group animate scaleIn">
  <div class="modal-toggle-bubbleShadow"></div>
  <div class="modal-toggle-bubble"></div>
  <div class="modal-toggle-wrapper"></div>
  <div class="modal-toggle-close-wrapper">
    <div class="modal-toggle-close"></div>
  </div>
</div>

<div class="fullscreenModal u-table">
  <div class="u-tableCell u-verticalAlignMiddle">
    <h2 class="h2--shareTitle">Share this story</h2>
    <ul class="shareWrapper">
      <li><a class="shareButton shareButton--twitter" href="https://twitter.com/intent/tweet?text={{ page.title | append: ' by @FreieMaker' }}&url={{ page.url | prepend: site.url | url_encode }}" target="_blank"></a></li>
      <li><a class="shareButton shareButton--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" target="_blank"></a></li>
    </ul>
  </div>
</div>
